@font-face {
  font-family: "iconfont"; /* Project id 2580387 */
  src: url('iconfont.woff2?t=1622371146463') format('woff2'),
       url('iconfont.woff?t=1622371146463') format('woff'),
       url('iconfont.ttf?t=1622371146463') format('truetype');
}

[class*='o-icon-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o-icon-view:before {
  content: "\e6c9";
}

.o-icon-close:before {
  content: "\e61a";
}

.o-icon-location2:before {
  content: "\e601";
}

.o-icon-home:before {
  content: "\e602";
}

.o-icon-shang:before {
  content: "\e603";
}

.o-icon-caidan:before {
  content: "\e604";
}

.o-icon-xiugai:before {
  content: "\e605";
}

.o-icon-yonghu:before {
  content: "\e606";
}

.o-icon-zuo:before {
  content: "\e607";
}

.o-icon-you:before {
  content: "\e608";
}

.o-icon-shezhi:before {
  content: "\e609";
}

.o-icon-xia:before {
  content: "\e60a";
}

.o-icon-sousuo:before {
  content: "\e60b";
}

.o-icon-shuaxin:before {
  content: "\e60c";
}

.o-icon-fanhui:before {
  content: "\e60d";
}

.o-icon-shouji1:before {
  content: "\e60e";
}

.o-icon-mima:before {
  content: "\e60f";
}

.o-icon-wenjian1:before {
  content: "\e610";
}

.o-icon-shanchu:before {
  content: "\e611";
}

.o-icon-wenjian:before {
  content: "\e612";
}

.o-icon-tianjia:before {
  content: "\e613";
}

.o-icon-tuichu:before {
  content: "\e614";
}

.o-icon-yujing:before {
  content: "\e615";
}

.o-icon-shanchu1:before {
  content: "\e616";
}

.o-icon-gouxuan:before {
  content: "\e617";
}

.o-icon-jiazai:before {
  content: "\e618";
}

.o-icon-touxiang:before {
  content: "\e619";
}

